*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    /* border: solid 1px red; */
    font-size: 20px;
    }

.calculatrice{
    margin-top: 2rem;
    max-width: 30%;
   


}
.ecran{
    background-color: rgba(30, 26, 26, 0.93);
    color: rgb(217, 223, 228);
    text-align: right;
    padding: 3%;
    font-size: 2rem;
    height: 6rem;
    /* font-family: ; */
    word-wrap: break-word;
    word-break: break-all;
}
.clavier{
border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    justify-content: center;
    align-content: center;
    grid-template-rows:  repeat(5, 4rem);
    padding-top: 3rem;
    background-color: rgb(5, 61, 138);
    padding-bottom: 2rem;
}
button{
    cursor: pointer;
    border-radius: 10px;
    width: -webkit-fill-available;
    margin: 1px;
    background-color: rgb(5, 107, 150);

}
.button-egal{
    grid-column: -5/-3;
    grid-row: 5/6;
}

.clear-button{
    grid-row: -4/-6;
    grid-column: -1/-2;
}
.button-double{
    grid-column: span 1;
}

button:hover{
    background-color: rgb(37, 136, 179);

}